*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    }

body{
    background-color:#ffffff;
}    

.div-title{
    color: #ebeced;
    text-align: center;
    font-size: 120px;
    font-family: fantasy;
}
